.about__Content {
    position: relative;
    width: 100%;
    padding: 1rem;
}

.about__Item:last-child {
    position: absolute;
    top: 10%;
    right: 0;
}

.about__Item:first-child {
    position: relative;
    top: 3rem;
    left: 0;
}