.login-page {
    background: url(http://landing.engotheme.com/html/skyline/demo/images/Login/login.jpg) no-repeat center center;
    background-size: cover;
}

.login-page .form-control {
    height: 43px;
    /* background-color: transparent; */
    border: 2px solid white;
    -webkit-border-radius: 0px;
    border-radius: 10px;
    color: #191616;
    padding-left: 17px;
    padding-right: 17px;
    margin: 0 auto;
}