

.adminNavbar__Container {
    position: fixed;
    display: grid;
    color: #232323;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    min-height: 100vh;
}