.Admin {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.AdminHeader {
    background-color: white;
    position: fixed; width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.AdminFooter {
    box-shadow: inset rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SideMenuAndPageContent {
    padding: 5rem 0;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
}

.PageContent{
    width: 100%;
}