/* SECTION CUSTOM */

/* Background Image */
.section__Background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(http://landing.engotheme.com/html/skyline/demo/images/Reservation/header.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.section__BackgroundTitle {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.thanks-message {
    color: var(--bg-secondary);
    font-weight: 300;
    font-size: 55px;
    text-align: center;
}

/* Background color */
.bg-custom-primary {
    background: #8e7037;
}

/* Section primary */
.section__Content-primary {
    margin: 20rem 0 0rem 0;
    background-color: white;
    /* background-color: transparent; */
    border-radius: 50px 50px 0 0 ;
}

.section__Item-primary {
    padding: 50px 0;
    background-color: white;
}

.custom__Border-50 {
    border-radius: 50px;
}

/* ----------------------------------- */
/* Section secondary */
.section__Content-secondary {
    padding: 20rem 0 0 0;
}

.section__Item-secondary {
    padding: 50px;
    background-color: var(--bg-secondary);
}

.main__Title {
    font-family: "Playfair Display", serif;
    color: #8e7037;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.line {
    width: 200px;
    height: 2px;
    background: #8e7037;
    margin-left: 0;
}

.main__p {
    color: #8e7037;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;

}

.section__Title {
    color: #232323;
    position: relative;
    font-size: 48px;
    font-weight: 400;
    font-family: "Playfair Display", serif;
}

.room-p {
    color: #ABABAB;
    font-weight: 300;
    font-size: 25px;
    margin: 0 auto;
    margin-top: 15px;
}

/* handle overflow */
.overflow-container {
    height: 30rem;
    overflow-y: scroll;
    padding: 10px;
    background-color: var(--bg-secondary);
}

.overflow-container::-webkit-scrollbar {
    width: 0.2em;
}

.overflow-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.overflow-container::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
}