header {
    transition: all 0.5s ease;
    position: fixed;
    width: 100%;
    z-index: 12;
    background-color: white;
}

.navbar {
    z-index: 11;
    padding: 20px 100px;
}

.rounded-50 {
    border-radius: 50px;
}

.user-avatar {
    background-color: whitesmoke;
    border-radius: 50px;
    border: 1px solid rgb(213, 213, 213);
    gap: 10px;
    align-items: center;
}

.user-avatar:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

/* BUTTON SHOW FORM */
.btnFindRoom__Container {
    margin-top: 1rem;
    top: 1rem;
    cursor: pointer;
    position: absolute;
}

.btnFindRoom__Items {
    z-index: 12;
    border-radius: 50px;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

/* items in button */
.btnFindRoom__Item {
    padding: 0 8px;
}

.btnFindRoom__Item:first-child,
.btnFindRoom__Item:nth-child(2) {
    border-right: 1px solid grey;
}


.btnFindRoom__Container-active {
    background-color: transparent;
    box-shadow: none;
}

/* -------------------------------------------------- */

/* FORM */
.formFindRoom-Hide {
    position: absolute;
    opacity: 0;
    transform: translateY(-50px);
    transition: all 0.25s ease;
}

.formFindRoom {
    border-radius: 50px;
    border: 1px solid rgb(213, 213, 213);

}

.formFindRoom-Show {
    z-index: 12;
    transition: all 0.5s ease;
    opacity: 1;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 10px 10px 0px;
}

.formFindRoom__Item {
    padding: 8px;
    border-radius: 50px;
}