header {
    transition: all 0.5s ease;
    background: rgba(74, 74, 74, 0.35);
    backdrop-filter: blur(2px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
.navbar {
    padding-bottom: 3rem;
}

.btn:hover {
    color: #8e7037 !important;
    background-color: white;
    border-color: #8e7037 !important;
}

.icon>a:hover {
    background: transparent;
    color: #8e7037;
}

header input,
select,
.optTrans {
    background-color: transparent !important;
}

.nav-item>a {
    font-weight: 700;
}

.nav-item>a:hover {
    background: transparent;
    color: #8e7037 !important;
}

.content1 {
    padding: 0 30px;
    color: white;
    font-size: 15px;
}

.phone1 {
    color: white;
    font-size: 15px;
}

.icon1 {

    font-size: 15px;
}

.icon1>a {
    color: white;
}

.icon1>a:hover {
    color: #8e7037 !important;
}


.rounded-50 {
    border-radius: 50px;
}

.user-avatar {

    z-index: 999;
    background-color: whitesmoke;
    border-radius: 50px;
    border: 1px solid rgb(213, 213, 213);
    gap: 10px;
    align-items: center;
}

.user-avatar:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

/* BUTTON SHOW FORM */
.btnFindRoom__Container {
    position: absolute;
    cursor: pointer;
    top: 3rem;
    width: 100%;
}

.btnFindRoom__Items {
    z-index: 12;
    border-radius: 50px;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

/* items in button */
.btnFindRoom__Item {
    padding: 0 8px;
}

.btnFindRoom__Item:first-child,
.btnFindRoom__Item:nth-child(2) {
    border-right: 1px solid grey;
}


.btnFindRoom__Container-active {
    background-color: transparent;
    box-shadow: none;
}

/* -------------------------------------------------- */

/* FORM */
.formFindRoom-Hide {
    position: absolute;
    opacity: 0;
    transform: translateY(-50px);
    transition: all 0.25s ease;
}

.formFindRoom {
    border-radius: 50px;
    border: 1px solid rgb(213, 213, 213);
}

.formFindRoom-Show {
    z-index: 12;
    transition: all 0.5s ease;
    opacity: 1;
}

.formFindRoom__Item {
    padding: 8px;
    border-radius: 50px;
}