.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-top: 1rem;
}

.card-single {
  display: flex;
  margin: 1rem 1rem;
  background: #fff;
  justify-content: space-between;
  padding: 2rem;

  border-radius: 10px;
  box-shadow: 2px 5px 10px 2px rgb(0 0 0 / 10%);
}

.card-single span:first-child {
  color: #f8e80c;
}

.card-single span:last-child {
  font-size: 2rem;
}

.card-single small {
  color: grey;
  font-size: 15px;
}

.card-single:hover {
  background: #331206;
  color: #fff;
}

.card-single>h2 {
  color: yellow !important;
}

.case {
  background: #fff;
  border-radius: 10px;
}

.header-case,
.body-case {
  padding: 0.5rem;
}

.header-case {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-case button {
  background: #008ea1;
  border-radius: 10px;
  color: #fff;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

thead tr {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

thead td {
  font-weight: 700;
}

td {
  padding: 0.5rem 1rem;
}

td .status-produit {
  display: inline-block;
  height: 15px;
  width: 15px;
  margin-right: 1rem;
  border-radius: 50%;
}

.status-produit.color-one {
  background: #ec1c24;
}

.status-produit.color-two {
  background: #fff200;
}

.status-produit.color-three {
  background: #b83dba;
}

.status-produit.color-four {
  background: #00a8f3;
}

.status-produit.color-five {
  background: #b83dba;
}

.tableau {
  overflow-x: auto;
  width: 100%;
}

.all-users {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.7rem;
} 

.infos {
  display: flex;
  align-items: center;
}

.infos img {
  border-radius: 50%;
  margin-right: 1rem;
}

.user-contact span {
  font-size: 1.2rem;
  display: inline-block;
  margin-left: 0.5rem;
}

.facebook {
  color: #4267b2;
  cursor: pointer;
}

.whatsapp {
  color: #df291c;
  cursor: pointer;
}

.phone {
  color: #de7e77;
  cursor: pointer;
}

.fa-bars {
  cursor: pointer;
}

.statistique {
  height: 100%;
  background: -moz-linear-gradient(-45deg,
      #de437d 0%,
      #5b44b9 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,
      #de437d 0%,
      #5b44b9 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,
      #de437d 0%,
      #5b44b9 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#de437d', endColorstr='#5b44b9', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  display: flex;
  font-family: "open sans", sans-serif;
  font-size: 3rem;
  background-size: cover;
  height: 100%;
  border-radius: 15px;
  height: 70vh;
}

.admin_ticket {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  padding-top: 40px;
}

polyline {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s ease-in forwards;
  animation-iteration-count: 10;
  animation-direction: alternate;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.title>p {
  font-size: 2rem;
  text-align: center;
  color: #efefef;
}

.name {
  font-size: 0.8rem;
  font-weight: light;
}

.statistique-barre {
  flex-grow: 1;
  border: 1px solid #ccc;
  margin: 6px;
}

.bar1 {
  height: 95%;
  background: #ec1c24;
}

.bar2 {
  height: 85%;
  background: #00a8f3;
}

.bar3 {
  height: 56%;
  background: #ec1c24;
}

.bar4 {
  height: 75%;
  background: #00a8f3;
}

.bar5 {
  height: 36%;
  background: #ec1c24;
}

.bar6 {
  height: 98%;
  background: #00a8f3;
}

.legende {
  background: #fff;
  border-radius: 10px;
  /* height: 100vh; */
}

.legende h4 {
  padding: 1rem;
}

td .evolution {
  display: inline-block;
  height: 15px;
  width: 15px;
  margin-right: 1rem;
  border-radius: 50%;
}

.evolution.color-one {
  background: #ec1c24;
}

.evolution.color-two {
  background: #00a8f3;
}

.txt-deco {
  padding: 1rem;
  font-weight: 500;
  color: grey;
}

#menu:checked~.sidebar {
  width: 60px;
}

#menu:checked~.sidebar .sidebar-brand,
h2 span:last-child,
#menu:checked~.sidebar li a span:last-child {
  display: none;
}

#menu:checked~.content {
  margin-left: 60px;
}

#menu:checked~.content header {
  width: calc(100% - 60px);
  left: 60px;
}

.calendar {
  padding-top: 2rem;
}

ul {
  list-style-type: none;
}

/* mois header */
.mois-annee {
  padding: 70px 25px;
  width: 100%;
  background: #008ea1;
  text-align: center;
}

/* mois list */
.mois-annee ul {
  margin: 0;
  padding: 0;
}

.mois-annee ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside mois header */
.mois-annee .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.mois-annee .next {
  float: right;
  padding-top: 10px;
}

/* mois (Mon-Sun) */
.mois {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.mois li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

/* jours (1-31) */
.jours {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.jours li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size: 12px;
  color: #777;
}

/* Highlight the "current" day */
.jours li .active {
  padding: 5px;
  background: #008ea1;
  color: white !important;
}

.dashboard__Content {
  padding: 3rem 0;
}

.graph {
  position: relative;
  background: #444e80;
  color: #abafc6;
  border-radius: 5px;
}

.year-stats {
  white-space: nowrap;
  overflow: scroll;
}

.year-stats:hover {
  overflow-x: auto;
}

/* SCROLL BAR STYLE (ONLY WORKS IN CHROME) */
/* Width */
::-webkit-scrollbar {
  height: 5px;
  width: 100%;
}

/* Track */
::-webkit-scrollbar-track {
  background: #444e80;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #abafc6;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #5397d6;
}

.month-group {
  background-color: red;
  cursor: pointer;
  height: 200px;
  margin: 10px;
  overflow: hidden;
  display: inline-block;
}

.bar {
  background-color: #abafc6;
  border-radius: 5px;
  margin-bottom: 10px;
}

.month-group:hover .bar,
.selected .bar {
  background: #5397d6;
}

.month-group:hover p,
.selected p {
  color: #fff;
}

.stats-info {
  align-items: center;
  position: relative;
  gap:30px
}

.graph-container {
  position: relative;
}

.percent {
  display: block;
  width: 120px;
  height: 120px;
  margin-top: -80px;

  animation-name: btnplay;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes btnplay {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.circle-x {
  stroke: #915db1;
  fill: none;
  stroke-width: 3;
}

.circle-x:nth-child(2) {
  stroke: #e59f3c;
}

.circle-x:nth-child(3) {
  stroke: #5397d6;
}

.circle-x:nth-child(4) {
  stroke: #4cc790;
}

.graph-container p{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  color: #fff;
  text-align: center;
}

.profile-admin {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  left: 1180px;
  top: 10px;
}

.user-profile {
  display: flex;
  justify-content: center;
  width: 60%;
  height: 20px;
  margin-left: -35px;
}